.leaderboard-container {
  counter-reset: leaderboard;
}
.leaderboard {
  padding: 0;
  margin: 0;
  position: relative;
}
.leaderboard__record {
  padding: 0 0 1em 3em;
  display: flex;
  justify-content: space-between;
  line-height: 2em;
  position: relative;
}
.leaderboard__record--mirabeau .leaderboard__name::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  margin-left: 0.25em;
  background: url('/img/loggedin.svg') center no-repeat;
}
.leaderboard__record::before {
  left: 0;
  position: absolute;
  display: block;
  width: 2em;
  height: 2em;
  margin: 0 1em 0 0;
  counter-increment: leaderboard;
  content: counter(leaderboard);
  background: var(--color-b);
  color: #f5fcff;
  text-align: center;
  line-height: 2em;
  border-radius: 0.25em;
  clip-path: polygon(50% 0%, 100% 25%, 100% 60%, 44% 100%, 9% 69%, 0 14%);
}
.leaderboard--part1 .leaderboard__record:nth-child(1)::before {
  background: #deab00;
}
.leaderboard--part1 .leaderboard__record:nth-child(2)::before {
  background: #a8b0b3;
}
.leaderboard--part1 .leaderboard__record:nth-child(3)::before {
  background: #9f6806;
}
.leaderboard__record:nth-child(2n)::before {
  clip-path: polygon(53% 0, 100% 18%, 91% 80%, 35% 100%, 7% 74%, 0 31%);
}
.leaderboard__record:nth-child(3n)::before {
  clip-path: polygon(26% 0, 100% 28%, 91% 66%, 57% 100%, 4% 86%, 0 25%);
}
.leaderboard__record:nth-child(4n)::before {
  clip-path: polygon(50% 0, 100% 15%, 89% 79%, 57% 100%, 13% 73%, 0 47%);
}
.leaderboard__record:nth-child(5n)::before {
  clip-path: polygon(60% 0, 88% 31%, 98% 79%, 59% 100%, 5% 80%, 0 26%);
}
.leaderboard__name {
  background: none;
}
.leaderboard__score {
  font-family: var(--font-heading);
  font-size: 1.5em;
}
@media screen and (min-width: 48em) {
  .leaderboard-container {
    max-width: 60em;
    display: flex;
    justify-content: space-between;
  }
  .leaderboard {
    width: 50%;
    padding-right: 2em;
  }
  .leaderboard + .leaderboard {
    padding-right: 0;
    padding-left: 2em;
  }
}
@media screen and (min-width: 64em) {
  .leaderboard__record {
    padding: 0 0 1em 4em;
    line-height: 3em;
  }
  .leaderboard__record::before {
    width: 3em;
    height: 3em;
    margin: 0 1em 0 0;
    line-height: 3em;
  }
}
