.form-fields {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form-fields * {
  box-sizing: border-box;
}

.form-field {
  margin: 0 0 1em;

  > label {
    display: block;
    margin-bottom: 0.5em;
    font-size: smaller;
    font-weight: bolder;
  }
}

label {
  display: block;
  max-width: 32em;
}

@media screen and (min-width: 40em) {
  .date-of-birth {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

[type='text'],
[type='email'],
[type='tel'],
[type='password'],
[type='number'],
select {
  width: 100%;
  height: 3.25em;
  padding: 0.5em;
  border: 1px solid var(--color-a);
  border-radius: 0.2em;
}
[type='text'][disabled],
[type='email'][disabled],
[type='tel'][disabled],
[type='password'][disabled],
[type='number'][disabled],
select[disabled] {
  opacity: 1;
  color: var(--color-text);
  background: var(--color-disabled);
  border-color: var(--color-disabled-border);
}

.form-field--error [type='text'][disabled],
.form-field--error [type='email'][disabled],
.form-field--error [type='tel'][disabled],
.form-field--error [type='password'][disabled],
.form-field--error [type='number'][disabled],
.form-field--error select[disabled] {
  border-color: var(--color-error);
}
.form-field--success [type='text'][disabled],
.form-field--success [type='email'][disabled],
.form-field--success [type='tel'][disabled],
.form-field--success [type='password'][disabled],
.form-field--success [type='number'][disabled],
.form-field--success select[disabled] {
  border-color: var(--color-success);
}

.selectfield-wrapper + label + .selectfield-wrapper {
  margin: 1em 0 0;
}
@media screen and (min-width: 40em) {
  .selectfield-wrapper + label + .selectfield-wrapper {
    margin: 0;
  }
}
.selectfield-wrapper select {
  padding: 0 5em 0 1em;
  -moz-appearance: none;
  -webkit-appearance: none;

  background: #fff url('/img/triangle.svg') no-repeat;
  background-position: right 1em top 1.25em;
}

[type='text'],
[type='email'],
[type='tel'],
[type='password'],
[type='number'],
[type='checkbox'],
select {
  max-width: 32em;
}
[type='text']:focus,
[type='email']:focus,
[type='tel']:focus,
[type='password']:focus,
[type='number']:focus,
[type='checkbox']:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--color-a);
}

.cta-container {
  margin-bottom: 4em;
  text-align: center;
}
.cta-container p {
  max-width: none;
}

.btn {
  padding: 0.625em 2em;
  background: var(--color-b);
  color: var(--color-inverted);
  border: 0;
  box-shadow: inset 0 -0.15em 0 var(--color-a);
  display: inline-block;
  border-radius: 6px;
  font-size: 1.375em;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 0.15s ease-out,
    box-shadow 0.15s ease-out;
  text-align: center;
}
@media screen and (min-width: 30em) {
  .btn {
    font-size: 1.625em;
  }
}

.btn:hover,
.btn:active {
  background: var(--color-c);
  box-shadow: inset 0 -0.1em 0 var(--color-a);
}
.btn:active {
  box-shadow: inset 0 0.1em 0 var(--color-a);
}

.btn--secondary {
  background: #f5fcff;
  border: 2px solid var(--color-b);
  color: var(--color-b);
  box-shadow: none;
  font-size: 1em;
  transition:
    background-color 0.15s ease-out,
    border-color 0.15s ease-out,
    color 0.15s ease-out;
}
.btn--secondary:hover,
.btn--secondary:active {
  background: #fff;
  border-color: var(--color-c);
  box-shadow: none;
  color: var(--color-c);
}
.btn[type='submit'] {
  margin-top: 1em;
}

.notification .notification--error {
  color: var(--color-error);
}
.notification .notification--error a {
  color: var(--color-error);
}
.notification .notification--success {
  color: var(--color-success);
}
.notification .notification--error a {
  color: var(--color-success);
}
